<a href="https://colab.research.google.com/github/mishacohen/BTE320/blob/main/BTE_in_class_assignments.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
sales = float(input("Enter sales ($):"))
rate = float(input("Enter tax rate (%): "))

COGS = 0.4 * sales
gross_profit = sales - COGS
taxes = rate * gross_profit
net = gross_profit - taxes

print(f"Sales: {sales}$")
print(f"Cost of Goods Sold: {COGS}$")
print(f"Gross profit: {gross_profit}$")

Enter sales ($):12000
Enter tax rate (%): 4
Sales: 12000.0$
Cost of Goods Sold: 4800.0$
Gross profit: 7200.0$

In [ ]:
num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))
operator = input("Enter numerical operator: ")



if operator == "+":
    res = num1 + num2
elif operator == "-":
    res = num1 - num2
elif operator == "*":
    res = num1 * num2
elif operator == "/":
    res = num1/num2
elif operator == "//":
    res = num1//num2
elif operator == "**":
  res = num1**num2
else:
  print("Invalid operator")

print(f"Result: {res}")

Enter the first number: 5
Enter the second number: 8
Enter numerical operator: *
Result: 40.0

In [ ]:

for hours in range(1, 9):
  fee = 5 + 2.5 * hours
  if fee < 10:
    fee = 10.0
  elif fee >= 20:
    fee = 20.0

  print(hours, fee)

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
import math

ticket = 10
base_attendance = 20
fixed_cost = 200

for ad in range(0, 201, 25):
  revenue = (base_attendance + 2 * round(math.sqrt(ad)))*10
  costs = fixed_cost + ad
  profit = revenue - costs
  print(ad, profit)

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
hours = 1

while hours < 9:
    fee = 5 + 2.5 * hours

    if fee < 10:
        fee = 10.0
    elif fee >= 20:
        fee = 20.0

    print(hours, fee)
    hours += 1

1 10.0
2 10.0
3 12.5
4 15.0
5 17.5
6 20.0
7 20.0
8 20.0

In [ ]:
import math

ticket = 10
base_attendance = 20
fixed_cost = 200

ad = 0
while ad <= 200:
    revenue = (base_attendance + 2 * round(math.sqrt(ad))) * ticket
    costs = fixed_cost + ad
    profit = revenue - costs

    print(ad, profit)

    ad += 25

0 0
25 75
50 90
75 105
100 100
125 95
150 90
175 85
200 80

In [ ]:
import random

play = input("Do you want to play (y/n): ")

while play == "y":
  p_move = input("Choose between rock, paper, scissors: ").lower()
  c_move = random.choice(["rock", "paper", "scissors"])

  print(f"Player move: {p_move}\nComputer move: {c_move}")

  if p_move == c_move:
    print("Draw")
  elif (
      (p_move == "rock" and c_move == "scissors")or
      (p_move == "scissors" and c_move == "paper") or
      (p_move == "paper" and c_move == "rock")
  ):
    print("Player wins!")
  else:
    print("Computer wins")

  play = input("Do you want to play again (y/n): ")

Do you want to play (y/n): y
Choose between rock, paper, scissors: rock
Player move: rock
Computer move: scissors
Player wins!
Do you want to play again (y/n): n

In [6]:
numbers = []

while True:
  num = float(input("Enter a number: "))
  if num == 0:
    break
  numbers.append(num)
numbers.sort(reverse=True)
print("Numbers in decending order:", numbers)

Enter a number: 8
Enter a number: 6
Enter a number: 9
Enter a number: 2
Enter a number: 45
Enter a number: 0
Numbers in decending order: [45.0, 9.0, 8.0, 6.0, 2.0]

In [7]:
weights = [10.0, 9.9, 10.1, 10.05]

print(sum(weights) / len(weights)) #avg weights
print(max(weights)) #largest value

10.0125
10.1

In [8]:
products = {
    "P-01": 9.95,
    "P-02": 10.50
}

id = input("Enter product ID: ")

if id in products:
  print(products[id])
else:
  print(f"Product {id} not found...")

Enter product ID: P-01
9.95

In [12]:
names = {}

while True:
  name = input("Give a name: ")
  if name == "":
    break

  if name in names:
    names[name] += 1
  else:
    names[name] = 1

print("Dictionary:")
print(names)

Give a name: misha
Give a name: ava
Give a name: rian
Give a name: viv
Give a name: misha
Give a name:
Dictionary:
{'misha': 2, 'ava': 1, 'rian': 1, 'viv': 1}